#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.services-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
}

.services-description {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: center;
}

.services-text {
    width: 350px;
    text-align: justify;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {

    .services-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .services-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}
