
.banner-container {
    padding-top: 20px;
    width: 100%;
    background-image: linear-gradient(to bottom, rebeccapurple, mediumpurple);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.banner-text-container {
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    color: whitesmoke;
}

.banner-text {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
