.header-container {
    background-color: rebeccapurple;
    color: whitesmoke;
}

.footer-container {
    background-color: #2d2d2d;
    color: gray;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
